<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <h4>Getting Started</h4>
    <ul>
      <li class="{% if page.title == 'Welcome' %}current{% endif %}">
        <a href="{{ site.url }}/docs/home">Welcome</a>
      </li>
      <li class="{% if page.title == 'Installation' %}current{% endif %}">
        <a href="{{ site.url }}/docs/installation">Installation</a>
      </li>
      <li class="{% if page.title == 'Basic Usage' %}current{% endif %}">
        <a href="{{ site.url }}/docs/usage">Basic Usage</a>
      </li>
    </ul>
    <h4>Creating Slides</h4>
    <ul>
      <li class="{% if page.title == 'Editors' %}current{% endif %}">
        <a href="{{ site.url }}/docs/editors">Editors</a>
      </li>
      <li class="{% if page.title == 'Commands' %}current{% endif %}">
        <a href="{{ site.url }}/docs/commands">Commands</a>
      </li>
      <li class="{% if page.title == 'Parameters' %}current{% endif %}">
        <a href="{{ site.url }}/docs/parameters">Parameters</a>
      </li>
      <li class="{% if page.title == 'Parameters' %}current{% endif %}">
        <a href="{{ site.url }}/docs/parameters">Recorder</a>
      </li>
    </ul>
    <h4>Executing Slides</h4>
    <ul>
      <li class="{% if page.title == "Comamnd Line" %}current{% endif %}">
        <a href="{{ site.url }}/docs/templates">Command Line</a>
      </li>
      <li class="{% if page.title == "GUI" %}current{% endif %}">
        <a href="{{ site.url }}/docs/permalinks">GUI</a>
      </li>
    </ul>
    <h4>Sikuli Slides API</h4>
    <ul>
      <li class="{% if page.title == "Overview" %}current{% endif %}">
        <a href="{{ site.url }}/docs/overview">Overview</a>
      </li>
      <li class="{% if page.title == "Deployment methods" %}current{% endif %}">
        <a href="{{ site.url }}/docs/deployment-methods">Other methods</a>
      </li>
    </ul>
  </aside>
</div>
